/*- Navigation -*/

.siteNav{
	position: fixed;
	right: -55px;
	top: 18%;
	z-index: 110;
	height: 348px;
	width: 199px;
	border-radius: 20px;
	background-color: #FFFFFF;
	box-shadow: 0 0 65px -13px rgba(0,0,0,0.5);
	padding-right: 75px;
}
.siteNav ul{
	list-style-type: none;
    margin: 0;
    padding-left: 0px;
    float: right;
    margin-top: 38px;
}
.siteNav ul li{
	padding-bottom: 27px;
    padding-top: 0px;
	text-align: right;
}


@keyframes gradesGradBottom {
    0%
    {
    	background: -moz-linear-gradient(to bottom, #0798e2 0%, #132953 100%);
		background: -webkit-linear-gradient(to bottom, #0798e2 0%, #132953 100%);
		background: linear-gradient(to bottom, to bottom, #0798e2 0%, #132953 100%);
    }
    5%  
    {
		background: -moz-linear-gradient(top, #132953 0%, #0798e2 5%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 5%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 5%,#132953 100%);
    }
    10%  
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 10%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 10%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 10%,#132953 100%);
    }
    15% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 15%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 15%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 15%,#132953 100%);
    }
    20% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 20%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 20%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 20%,#132953 100%);
    }
    25% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 25%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 25%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 25%,#132953 100%);
    }
    30% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 30%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 30%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 30%,#132953 100%);
    }
    35% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 35%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 35%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 35%,#132953 100%);
    }
    40% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 40%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 40%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 40%,#132953 100%);
    }
    45% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 45%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 45%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 45%,#132953 100%);
    }
    50% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 50%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 50%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 50%,#132953 100%);
    }
    55% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 55%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 55%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 55%,#132953 100%);
    }
    60% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 60%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 60%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 60%,#132953 100%);
    }
    65% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 65%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 65%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 65%,#132953 100%);
    }
    70% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 70%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 70%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 70%,#132953 100%);
    }
    75% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 75%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 75%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 75%,#132953 100%);
    }
    80% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 80%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 80%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 80%,#132953 100%);
    }
    85% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 85%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 85%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 85%,#132953 100%);
    }
    90% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 90%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 90%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 90%,#132953 100%);
    }
    95% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 95%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 95%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 95%,#132953 100%);
    }
    100% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 100%);
    }
}

@keyframes gradesGradUp {
    0%
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 100%);
    }
    5%  
    {	
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 95%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 95%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 95%,#132953 100%);
    }
    10%  
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 90%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 90%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 90%,#132953 100%);
    }
    15% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 85%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 85%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 85%,#132953 100%);
    }
    20% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 80%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 80%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 80%,#132953 100%);
    }
    25% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 75%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 75%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 75%,#132953 100%);
    }
    30% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 70%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 70%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 70%,#132953 100%);
    }
    35% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 60%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 60%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 60%,#132953 100%);
    }
    40% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 55%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 55%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 55%,#132953 100%);
    }
    45% 
    {	
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 50%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 50%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 50%,#132953 100%);
    }
    50% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 45%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 45%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 45%,#132953 100%);
    }
    55% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 40%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 40%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 40%,#132953 100%);
    }
    60% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 65%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 65%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 65%,#132953 100%);
    }
    65% 
    {
    	
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 35%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 35%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 35%,#132953 100%);
    }
    70% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 30%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 30%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 30%,#132953 100%);
    }
    75% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 25%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 25%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 25%,#132953 100%);
    }
    80% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 20%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 20%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 20%,#132953 100%);
    }
    85% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 15%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 15%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 15%,#132953 100%);
    }
    90% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 10%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 10%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 10%,#132953 100%);
    }
    95% 
    {
    	background: -moz-linear-gradient(top, #132953 0%, #0798e2 5%, #132953 100%);
		background: -webkit-linear-gradient(top, #132953 0%,#0798e2 5%,#132953 100%);
		background: linear-gradient(to bottom, #132953 0%,#0798e2 5%,#132953 100%);
    }
    100% 
    {
 		background: -moz-linear-gradient(to bottom, #0798e2 0%, #132953 100%);
		background: -webkit-linear-gradient(to bottom, #0798e2 0%, #132953 100%);
		background: linear-gradient(to bottom, to bottom, #0798e2 0%, #132953 100%);   	
    }
}

.siteNav ul a:after{
	content:"";
	color: #132953;
	position: absolute;
	width: 2px;
	height: 13%;
	right: 80px;
	/*z-index:200;*/
	background-color: currentColor;
}

.siteNav ul a.gradesBottom:after{
	animation-name: gradesGradBottom;
    animation-duration: 1s;
}
.siteNav ul a.gradesUp:after{
	animation-name: gradesGradUp;
    animation-duration: 1s;
}
.siteNav ul a:nth-child(2):after{
	top: 55px;
}
.siteNav ul a:nth-child(3):after{
	top: 100px;
}
.siteNav ul a:nth-child(4):after{
	top: 147px;	
}
.siteNav ul a:nth-child(5):after{
	top: 195px;	
}
.siteNav ul a:nth-child(6):after{
	top: 244px;
}
.siteNav ul a:nth-child(1):after{
	display: none;
}

.siteNav ul a li {
	/*margin-right: 20px;*/
	color:#8B96AA;
	font-size:14px;
}
.siteNav ul li .dot{
	height: 12px;
  	width: 12px;
  	border: 2px solid #132953;
  	border-radius: 50%;
  	display: inline-block;
    position: relative;
    top: 5px;
  	float: right;
  	z-index: 200;

  	background-color: #fff;
}

.siteNav ul li .dot.active{
	background-color: #0798E2;
}
.siteNav ul a {
	text-decoration: none;
}
.scrollTrigger{
	position: fixed;
	width: 100%;
	bottom: 20%;
	height: 2px;
}

.scrollTriggerTop{
	position: fixed;
	width: 100%;
	top: 10%;
	height: 2px;
}

.mainContent{
	border-left: 1px solid #D8D8D8;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;
}
.dateContainer{
	height: 100em;
	width: 6.33%;
	position: fixed;
}
.date {
	position: fixed;
	top: 50%;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-family: 'GothamBold';
	/*left: calc(1% - 1em);*/
}

.mainContent .logo {
	margin-top: 100px;
	margin-bottom: 200px;
	width: 240px;
}
.underH1{
	margin-top: 60px;
	margin-bottom: 75px;
	width: 52%;
}

/*- Details Section -*/
#details .thatOneGradient{
	padding-top: 90px;
	height: 255px;
}
#details .mt60 p {
	width: 79%;
}
.waveSvg{
	width: 100%;
	position: relative;
    top: -1px;
}

/*- Schedule -*/

#schedule{
	/*height: 1080px;*/
	width: auto;
}
/*#schedule:after {
    content:'';
	color: #132953;
	position: relative;
	width: 2px;
	height: 69%;
	right: 80px;
	top: 55px;
	background-color: currentColor;
}*/
#schedule .thatOneGradient{
	height: 337px;
	padding-top: 112px;
}
#schedule .thatOneGradient p{
	margin-top: 20px;
	width: 48%;
}

#schedule .timeSheet{
	min-height: 743px;
}
#schedule .timeSheet::after{
	content: "";
	border-bottom: 1px solid #D8D8D8;
}
#schedule .timeSheet .aBox{
	height: 81px;
	/*min-width: 293px;*/
	width: 100%;
	padding-left:30px;
	padding-top:15px;
	font-family: 'Arvo', serif;

}
#schedule .timeSheet .col-sm-3{
	padding-right: 0px;
	padding-left: 0px;
	border-right: 1px solid #D8D8D8;
	
	height: 100%;
}

#schedule .timeSheet .col-sm-3 h4 {
	padding-left: 30px;
}

#schedule .timeSheet .col-sm-3 h5 {
	margin-bottom: 5px;
}

#schedule .timeSheet .whiteBlock{

}
.modifiedContainer{
    border-bottom: 1px solid #D8D8D8;
    max-width: 1236px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.borderLine{
	content:'';
	color: #132953;
	position: absolute;
	width: 2px;
	height: 69%;
	right: 80px;
	top: 55px;
	/*z-index:200;*/
	background-color: currentColor;

}

/*- Speakers -*/
#speakers{
	margin-top:120px;
}

#speakers .innovatorBox {
	border: 1px solid #D8D8D8;
	margin-bottom: 60px;

}
#speakers .innovatorBox .speakerImg{
    position: relative;
}
#speakers .innovatorBox img {
	width: 100%;
	height: auto;
}

#speakers .innovatorBox .bluishHue {
	content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 0.1;
	background: rgba(7,152,226,0.8);
}
#speakers .innovatorBox .peopleInfo {
	min-height: 200px;
	padding-top: 36px;
	padding-left: 41px;
	padding-bottom: 30px;
	position: relative;
}


#speakers .innovatorBox .peopleInfo a {
	/*position: relative;*/
}
#speakers .innovatorBox .peopleInfo h5 {
	margin-bottom: 17px;
}

#speakers .innovatorBox .peopleInfo .lightblue{
	position: absolute;
	bottom: 30;
	left: 41;
}

#speakers p {
	width:46%;
	margin-top: 22px;
	margin-bottom: 73px;
}
/*- sponsors -*/

#sponsors .thatOneGradient{
	height: 337px;
	padding-top: 112px;
}
#sponsors .thatOneGradient p{
	margin-top: 20px;
	width: 47%;
}

#sponsors .sponsor {
	
	border: 1px solid #D8D8D8;
	background-color: #fff;
	display:table-cell;
	vertical-align:middle;
	text-align:center;

}
#sponsors .sponsor img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    /*vertical-align: middle;*/
}
#location{
	height: auto;
	margin-top:140px;
}
#location img {
	width: 604px;
	height: 380px;

}

#location .col-lg-6{
	padding-left: 0px;
}

#location .offset-lg-1 h2 {
	margin-bottom: 42px;
}

#location .offset-lg-1 .h3 {
	margin-bottom: 0px;
}
#location .offset-lg-1 div.h2{
	line-height: unset;
	margin-bottom: 50px;
}

#location .offset-lg-1 p {
	width: 68%;
	margin-bottom: 35px;	
}
#location .offset-lg-1 .disc{
	margin-top: 30px;
	width: 68%;
}
#location .offset-lg-1 .btn-blue{
	text-decoration: none;
	height: 40px;
	width: 362px;
	border-radius: 20px;
	background-color: #0798E2;
	display: block;
	text-align: center;
}
#location .offset-lg-1 .btn-blue div {
	font-size: 18px;
	font-family: GothamBook;
	padding-top: 8px;
}

#rsvp .thatOneGradient{
	padding-top: 112px;
}

#rsvp .rsvpDes{
	margin-top: 24px;
	margin-bottom: 70px;
	width: 47%;
}
#rsvp input[type="text"],
#rsvp input[type="email"]{
	height: 40px;
	/*width: 264px;*/
	border-radius: 20px;
}
#rsvp input[type="checkbox"]{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	box-shadow: none !important;
	background-clip: padding-box;
	opacity: 0;
	filter: alpha(opacity=0);
}

#rsvp select{
	height: 40px;
	border-radius: 20px;
	padding-left: 20px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

/*Form SVG's*/
#rsvp .select-wrapper .svg-icon{
	fill:#132953;
	background: transparent;
    position: absolute;
    top: 14px;
    right: 35px;
    pointer-events: none;
    z-index: 2;
    font-size: 6px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#rsvp .unisex{
	padding: 10px 20px;
}
#rsvp .unisex{
	height: 30px;
	width: 244px;
	font-family: GothamBook;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: none;
	/*margin-left: 20px;*/
}
#rsvp .unisex div{
	display: inline-block;
	margin-top: 7px;
}
#rsvp .unisex svg{
	position: relative;
    top: 2px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
}
#rsvp .select-wrapper .svg-icon .svgBlue{
	fill:#132953;
}

/*#rsvp .checkboxSection .list-unstyled{
	margin-top: 15px;
}*/
#rsvp .checkboxSection label{
	font-size: 14px;
	font-family: GothamBook;
}
#rsvp .checkboxSection span.label{
	font-family: GothamBook;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: .5;
}
#rsvp textarea {
	border-radius: 20px;
	resize: none;
}
.btn-white{
	font-family: 'GothamBold';
	font-size: 18px;
	letter-spacing: .5;
	width: 362px;
	border-radius: 20px;
	color: #0798e2;
	border: 4px solid #0798e2;
	background-color: #fff;
	display: block;
	text-align: center;
	box-sizing: border-box;
	height: 48px;
	width: 272px;
}

/*Floating Labels*/
.form-group {
	position: relative;
}
.form-control-placeholder {
	color: black;
	position: absolute;
	top: 0;
	padding: 10px 0 0 0;
	transition: all 200ms;
	opacity: 0.5;
	margin-left: 20px;
    font-family: 'GothamBook', serif;
    z-index: 200;
}
/*.form-control-placeholder.textarea{
	padding: 15px 0 0 0;
}*/
.noDisplay{
	display: none;
}
.form-control:focus + .form-control-placeholder, .form-control.valid + .form-control-placeholder,
.form-control:focus + .form-control-placeholder.noDisplay {
	display: inline-block;
	color: white;
	font-size: 88%;
	transform: translate3d(0, -100%, 0);
	opacity: 1;
}
/*textarea.form-control:invalid + .form-control-placeholder{
	color: black;
	position: absolute;
	top: 0;
	padding: 10px 0 0 0;
	transition: all 200ms;
	opacity: 0.5;
	margin-left: 20px;
    font-family: 'GothamBook', serif;
    z-index: 200;
}*/

/*MENU*/
#mobile-nav{
	display: none;
}

#mobile-nav.active{
	display: unset;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 1000;
}
.mobile-nav .list-unstyled {
	margin-top: 80px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.mobile-nav .list-unstyled a{
	text-decoration: none;
}
.mobile-nav .list-unstyled li {
	margin: 10px 0 30px;
	font-size:36px;
	text-align: center;
}

.mobileBanner{
	background:rgba(255,255,255,0.5);
	position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    height: 50px;
    width: 55px;
    z-index: 1010;
    padding: 20px;
}
#mobileHam {
	color: #000;
    position: fixed;
    margin-left: 2px;
    margin-top: 3px;
    margin-right: 2px;
    width: 30px;
    height: 4px;
    background-color: currentColor;
    right: 10;
    z-index: 900;
}
#mobileHam:before {
	content: '';
	position: absolute;
	top: -9px;
	left: 0;
	width: 30px;
	height: 4px;
	z-index: 900;
	background-color: currentColor;
}
#mobileHam:after {
	content: '';
	position: absolute;
	top: 9px;
	left: 0;
	width: 30px;
	height: 4px;
	z-index: 900;
	background-color: currentColor;
}
#mobileHam.active {
	transform: rotate(-45deg);
	transition:all .3s ease;
}
#mobileHam.active:before{
	transform: rotate(90deg);
	transition:all .3s ease;
	top:0px;
}
#mobileHam.active:after{
	display: none;
}
#mobileHam.not-active{
	
	transition: all .3s ease;
}
#mobileHam.not-active:before{
	transition: all .3s ease;
}
#mobileHam.not-active:after{
	display: unset;
	transition: all .3s ease;
}
/*.pulse.active {
	cursor: pointer;
	box-shadow: 0 0 0 #0798e2;
	animation: pulse 2s infinite;
}
.pulse.active:hover {
  	animation: none;
}

@-webkit-keyframes pulse {
	0% {
	-webkit-box-shadow: 0 0 0 0 #0798e2;
	}
	70% {
	  -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
	  -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 #0798e2;
		box-shadow: 0 0 0 0 #0798e2;
	}
	70% {
	 	-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	  	box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
	  	-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	  	box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}*/
.rectangle{
	height: 22px;
	width: 22px;
	border: 3px solid #fff; 
	border-radius: 4px;
	display: inline-block;
	position: relative;
	top: 5px;
}
.rectangle.active{
	background-color: #fff;
}
/*.rectangle.first{
	top: -16px;
}*/
.rectangle.active .checked{
	color: #000;
    position: absolute;
    margin-left: 1px;
    margin-top: 2px;
    width: 14px;
    height: 8px;
    border-bottom: solid 2px currentColor;
    border-left: solid 2px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#contact-form label.error{
	position: absolute;
	top: -28px;
    color: #fff;
    margin-top: 5px;
    font-family: GothamBook;
    transition: all 200ms;
    font-size:16px;

}

#schedule .timeSheet hr {
	display: none;
}

/*All Hover Logic in a query*/
@media (hover: hover) {
  	#speakers .innovatorBox:hover{
  		box-shadow: 0 0 65px -13px rgba(0,0,0,0.5);
  		background-color: #fff;
  		-webkit-transition:all 1s ease;
	    -moz-transition:all .3s ease;
	    transition:all .3s ease;
	}
	#sponsors .sponsor:hover {
		box-shadow: 0 0 65px -13px rgba(0,0,0,0.5);
	    -webkit-transition:all 1s ease;
	    -moz-transition:all .3s ease;
	    transition:all .3s ease;
	}
	.btn-blue:hover{
		box-shadow: 0 7px 65px -13px rgba(0,0,0,0.5);
	   	-webkit-transition:all 1s ease;
	    -moz-transition:all .3s ease;
	    transition:all .3s ease;
	}
	.btn-white:hover{
		box-shadow: 0 7px 65px -13px rgba(0,0,0,0.5);
	   	-webkit-transition:all 1s ease;
	    -moz-transition:all .3s ease;
	    transition:all .3s ease;
	}
	#rsvp .unisex:hover svg{
		transform: translate(.5em,0);
		-webkit-transform: translate(.5em,0);
		-moz-transform: translate(.5em,0);
		-o-transform: translate(.5em,0);
		-ms-transform: translate(.5em,0);
	}
	/*.betty-white:hover{
		box-shadow: 0 0 65px -13px rgba(0,0,0,0.5);
	}
	.aBox:hover{
		box-shadow: 0 0 65px -13px rgba(0,0,0,0.5);
	}*/
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 300px) and (max-width: 767px){
	.siteNav{
		display: none;
	}
	#mobileHam{
		display: unset;
		cursor: pointer;
	}
	.date{
		display: none;
	}
	.mainContent .logo {
	    margin-top: 100px;
	    margin-bottom: 100px;
	}
	.underH1{
		width: 100%;
	}
	#landingContent h1 {
		font-size:34px;
		line-height: 52px;
	}
	#details .thatOneGradient {
	    padding-top: 15px;
	    height: 255px;
	}
	#details .thatOneGradient h3{
		font-size:16px;
		line-height: 28px;
	}
	#details .mt60 p {
	    width: 100%;
	}
	#schedule .thatOneGradient {
	    height: 337px;
	    padding-top: 15px;
	}
	#schedule .thatOneGradient p {
	    margin-top: 20px;
	    width: 100%;
	}
	#schedule .timeSheet .col-sm-3 {
	     height: unset;
	     border-right: none;
	}
	#schedule .timeSheet hr {
		display: block;
	}
	#speakers p {
	    width: 100%;
	}
	#sponsors .thatOneGradient {
	    height: 337px;
	    padding-top: 15px;
	}
	#sponsors .thatOneGradient p {
	    width: 100%;
	}
	#sponsors .sponsor{
		height: 300px;
		width: 331px;
		margin-bottom: 20px;
	}
	#sponsors .sponsor img{
		width: 285px;
	}
	#sponsors .col-sm-4 {
		margin-bottom: 20px;
	}
	#location img {
	    width: 100%;
	    height: 225px;
	    display: none;
	}
	#location .col-lg-6 {
	    padding-left: 15px;
	}
	#location .offset-lg-1 h2 {
	    margin-bottom: 42px;
	    margin-top: 25px;
	}
	#location .offset-lg-1 p {
	    width: 100%;
	    margin-bottom: 35px;
	}
	#location .offset-lg-1 .btn-blue {
	    width:100%;
	}
	#location .offset-lg-1 .disc {
	    margin-top: 30px;
	    width: 100%;
	    margin-bottom: 20px;
	}
	#rsvp .thatOneGradient {
	    padding-top: 15px;
	}
	.form-group {
	    margin-bottom: 30px;
	}
	.btn-white {
	    width: 100%;
	}
	#rsvp .rsvpDes {
	    width: 100%;
	}
	.mobileBanner{
		display: inline-block;
		cursor: pointer;
	}
	.container{
		padding-left: 20px;
		padding-right: 20px;
	}
	/*.container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}*/
	/*.mainfluid{
		padding-left: 20px;
		padding-right: 20px;
	}*/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 991px) {
	#schedule .timeSheet hr {
		display: none;
	}
	.btn-white {
	    width: 272px;
	}
	#details .thatOneGradient h3{
		line-height: 36px;
		z-index: 400;
	}
	.form-group {
	    margin-bottom: 30px;
	}
	#location .offset-lg-1 .btn-blue {
	    width: 362px;
	}
	#location .offset-lg-1 p {
	    width: 68%;
	    margin-bottom: 35px;
	}
	#location .col-lg-6 {
	    padding-left: 0px;
	}
	#sponsors .col-sm-4 {
		margin-bottom: 0px;
	}
	.mainContent .logo {
    	margin-top: 100px;
	    margin-bottom: 50px;
	}
	#speakers p {
	    width: 46%;
	}
	#schedule .timeSheet .col-sm-3 {
	     height: 100%;
	     border-right: 1px solid #D8D8D8;
	     min-height: 743px;
	}
	#landingContent h1 {
		font-size:48px;
	}
	.siteNav{
		display: none;
	}
	#mobileHam{
		display: unset;
		cursor: pointer;
	}
	.date{
		left: -162px;
	}
	.underH1{
		width: 75%;
      	margin-top: 15px;
	}
	#details .mt60 p{
		width: 95%;
	}
	#details .thatOneGradient{
		padding-top: 30px;
	}
	#details .thatOneGradient h3{
		font-size: 20px;
	}
	#schedule .thatOneGradient{
		padding-top: 50px;
	}
	#schedule .timeSheet .col-sm-3 h4{
		padding-left: 10px;
		font-size:21px;
	}
	#schedule .timeSheet .aBox{
		padding-left: 10px;
		height: 85px;
		margin-bottom: 10px;
		padding-top: 7px;
	}
	#schedule .timeSheet .aBox h5 {
		font-size: 16px;
	}
	#schedule .timeSheet {
		height: 540px;
	}
	#speakers .innovatorBox .peopleInfo {
	    padding-top: 20px;
    	padding-left: 25px;
	    padding-bottom: 30px;
	}
	#speakers .innovatorBox .peopleInfo .lightblue {
	    position: absolute;
	    bottom: 17px;
    	left: 26px;
	}
	#speakers .h1 {
		font-size: 52px;
   	  	line-height: 64px;
	}
	#sponsors .thatOneGradient {
	    padding-top: 50px;
	}
	#sponsors .thatOneGradient p {
	    width: 47%;
	}
	#sponsors .sponsor{
		height: 200px;
		width: 200px;
	}
	#sponsors .sponsor img{
		width: 175px;
	}
	#sponsors .sponsor h1{
		font-size: 48px;
    	line-height: 56px;
	}
	#location img {
	    width: 80%;
	    height: 300px;
	    margin: 0px auto;
	    margin-top: 20px;
	    display: none;
	}
	#location .offset-lg-1 h2 {
	   	margin-top: 30px;
	}
	#location .offset-lg-1 .disc {
	    margin-top: 30px;
	    width: 68%;
	    margin-bottom: 20px;
	}
	#rsvp .thatOneGradient {
	    padding-top: 50px;
	}
	#rsvp .rsvpDes {
	    width: 47%;
	}
	.mobileBanner{
		display: inline-block;
	}
	.container{
		padding-left: 30px;
	}
	.container-fluid{
		padding-left: 30px;
	}
	.mainfluid{
		padding-left: 15px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width: 1999px) {
	.container{
		padding-left: 15px;
	}
	.container-fluid{
		padding-left: 15px;
	}
	.mainfluid{
		padding-left: 15px;
	}
	.mobileBanner{
		display: none;
	}
	#rsvp .thatOneGradient {
	    padding-top: 112px;
	}
	#location .offset-lg-1 h2 {
	    margin-bottom: 42px;
	}
	#sponsors .sponsor h1{
		font-size: 72px;
		line-height: 84px;
	}
	#sponsors .sponsor img{
		width: unset;
	}
	#sponsors .thatOneGradient {
	    padding-top: 112px;
	}
	#speakers .h1 {
		font-size: 72px;
		line-height: 84px;
	}
	#speakers .innovatorBox .peopleInfo .lightblue {
	    position: absolute;
	    bottom: 30;
	    left: 41;
	}
	#speakers .innovatorBox .peopleInfo {
	    padding-top: 36px;
	    padding-left: 41px;
	    padding-bottom: 30px;
	}
	#schedule .timeSheet .aBox h5 {
		font-size: 18px;
	}
	#schedule .timeSheet .aBox{
		margin-bottom: 0px;
		height: 81px;
		padding-left: 30px;
		padding-top: 15px;
	}
	#schedule .timeSheet .col-sm-3 {
		min-height: 743px;
	}
	#schedule .timeSheet .col-sm-3 h4{
		padding-left: 30px;
	}
	#schedule .thatOneGradient{
		padding-top: 112px;
	}
	#landingContent h1 {
		font-size:62px;
	}
	.siteNav{
		display: unset;
	}
	#mobileHam{
		display: none;
	}
	.date{
		left: -150px;
	}
	#details .mt60 p{
		width: 95%;
	}
	.mt60{
		margin-top: 50px;
	}
	#details .thatOneGradient{
		padding-top: 90px;
	}
	#details .thatOneGradient h3{
		font-size: 22px;
	}
	#sponsors .sponsor{
		height: 300px;
		width: 300px;
	}
	#location .offset-lg-1{
		margin-left: 8.333333%;
	}
	#location .offset-lg-1 p{
		margin-bottom: 25px;
	}
	#location img{
	    width: 500px;
		height: 300px;
		margin-top: 0px;
	}
	.underH1{
		width: 66%;
      	margin-top: 50px;
	}
	#speakers{
		/*margin-top: 0px;*/
	}
	#rsvp .col-lg-8{
		flex: 0 0 58.333333%;
    	max-width: 58.333333%;
	}
	#rsvp .col-lg-4{
		flex: 0 0 41.666667%;
    	max-width: 41.666667%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	/*#speakers{
		margin-top: 120px;
	}*/
	#landingContent h1 {
		font-size: 72px;
	}
	.siteNav{
		display: unset;
	}
	#mobileHam{
		display: none;
	}
	#location .offset-lg-1{
		padding-top: 50px;
	}
	.date{
		left: -142px;
	}
	.form-group{
		margin-bottom: 60px;
	}
	#sponsors .sponsor{
		height: 362px;
		width: 380px;
	}
	#location .offset-lg-1 p{
		margin-bottom: 35px;
	}
	#location .offset-lg-1{
		margin-left: 3.333333%;
	}
	#location img {
		width: 604px;
		height: 380px;
	}
	.underH1{
		width: 52%;
      	margin-top: 60px;
	}
	#rsvp .col-lg-8{
		flex: 0 0 66.666667%;
   		max-width: 66.666667%;
	}
	#rsvp .col-lg-4{
		flex: 0 0 33.333333%;
    	max-width: 33.333333%;
	}

	
}

@media only screen and (min-width : 1200px) and (max-width :1300px){
	#landingContent h1 {
		font-size:68px;
	}
	#location .offset-lg-1{
		padding-top: 0px;
	}
	.date{
		left: -147px;
	}
	#sponsors .sponsor{
		height: 300px;
		width: 300px;
	}
	#rsvp .col-lg-8{
		flex: 0 0 58.333333%;
    	max-width: 58.333333%;
	}
	#rsvp .col-lg-4{
		flex: 0 0 41.666667%;
    	max-width: 41.666667%;
	}
	
}

/*@media only screen and (min-width : 1201px) and (max-width :1229px){
	#location .offset-lg-1{
		padding-top: 0px;
	}
	.date{
		left: -136px;
	}
}*/